.banner{
    background-image: url("https://cdn.pixabay.com/photo/2020/07/11/18/54/veggies-5395029__340.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height:300px;
    text-align: center;

    
}

.banner h2{
    padding:10px;
}

.categories .row{
    justify-content: center;

}
.categories .col-2{
    text-align: center;

}
.product{
}
.product .row{
    justify-content: center;
    margin-top: 20px;

}


.card{
    margin-top: 20px;
}
